server {
    listen 80;
    location / {
        proxy_pass http://localhost:2001;
    }
    location /uploads {
        alias /root/web/user_image;
    }
    location /static {
        alias /root/web/static;
    }
}
