{% extends "topic/base.html" %}
{% block main %}
     <div id="content">

      <div class="panel">
    <div class="header">
      <span class="col_fade">相关帖子</span>
    </div>
      <div class="inner post">
                    <div class="topic_list">
                    {% if ts is not none %}
                        {% for t in ts %}
                            <div class="cell">
                                <div class="topic_title_wrapper">

                                    <a class="user_avatar pull-left">
                                        <img src="{{ t.user().user_image }}" title="{{ t.user().username }}"/>
                                    </a>

                                    <a class="topic_title" href="{{ url_for('topic.detail', id=t.id) }}">
                                        {{ t.title }}
                                    </a>
                                    <span>{{ t.replies() | count }} / {{ t.views }}</span>
{#                                    <a class="topic_title" href="{{ url_for('topic.delete', id=t.id, token=t.token) }}">#}
{#                                        删除#}
{#                                    </a>#}

                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    </div>
                </div>
  </div>

     <div class="panel">
    <div class="header">
      <span class="col_fade">相关用户</span>
    </div>
      <div class="inner post">
                    <div class="topic_list">
                    {% if u is not none %}
                            <div class="cell">
                                <div class="topic_title_wrapper">

                                    <a class="user_avatar pull-left">
                                        <img src="{{ u.user_image }}" title="{{ u.username }}"/>
                                    </a>
                                    <a href="{{ url_for('user.user', username=u.username) }}">{{ u.username }}</a>
                                </div>
                            </div>
                    {% endif %}
                    </div>
                </div>
  </div>

     </div>
{% endblock %}