{% extends "topic/base.html" %}
{% block main %}
    <div id="content">
        <div class="panel">
            <div class="header">
                <ul class="breadcrumb">
                    <li><a href="/topic">主页</a><span class="divider">/</span></li>
                </ul>
            </div>
                            <a id="follow_href" href="{{ url_for('user.follow', username=user.username) }}"></a>
                <a id="unfollow_href" href="{{ url_for('user.unfollow', username=user.username) }}"></a>
            <div class="inner userinfo">
                <div class="user_big_avatar">
                    <img src="{{ user.user_image }}" title="{{ user.username }}"/>
                </div>
                <a class="dark">{{ user.username }}</a>

                <button id="{{ button_id }}" type="button" class="btn btn-primary"
                        data-toggle="button"
                        aria-pressed="false">
                    {{ button_id }}
                </button>
                <a id="mail" tabindex="0" class="btn btn-primary" role="button" data-toggle="popover" title="私信"
                   data-template='<form method="post" action={{ url_for('mail.add') }}>
<input type="text" name="content" placeholder="content">
<input type="text" name="title" placeholder="title">
<input type="text" name="receiver_id" placeholder="receiver_id">
<button type="submit">提交邮件</button>
</form>'>私信</a>
                <div class="user_profile">
                    <ul class="unstyled">
                        <li>
                            <i class="fa fa-lg fa-fw fa-github"></i>
                        </li>


                    </ul>
                </div>
            </div>
        </div>

        <div class="panel">
            <div class="header">
                <span class="col_fade">最近创建的话题</span>
            </div>
            <div class="inner post">
                <div class="topic_list">
                    {% if ts is not none %}
                        {% for t in ts %}
                            <div class="cell">
                                <div class="topic_title_wrapper">

                                    <a class="user_avatar pull-left">
                                        <img src="{{ t.user().user_image }}" title="{{ t.user().username }}"/>
                                    </a>

                                    <a class="topic_title" href="{{ url_for('topic.detail', id=t.id) }}">
                                        {{ t.title }}
                                    </a>
                                    <span>{{ t.replies() | count }} / {{ t.views }}</span>

                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="panel">
            <div class="header">
                <span class="col_fade">最近参与的话题</span>
            </div>
            <div class="inner post">
                <div class="topic_list">
                    {% if ots is not none %}
                        {% for t in ots %}
                            <div class="cell">
                                <div class="topic_title_wrapper">

                                    <a class="user_avatar pull-left">
                                        <img src="{{ t.user().user_image }}" title="{{ t.user().username }}"/>
                                    </a>

                                    <a class="topic_title" href="{{ url_for('topic.detail', id=t.id) }}">
                                        {{ t.title }}
                                    </a>
                                    <span>{{ t.replies() | count }} / {{ t.views }}</span>

                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="panel">
            <div class="header">
                <span class="col_fade">following</span>
            </div>
            <div class="inner post">
                <div class="topic_list">
                    {% if following is not none %}
                        {% for f in following %}
                            <div class="cell">
                                <div class="topic_title_wrapper">

                                    <a class="user_avatar pull-left">
                                        <img src="{{ f.user_image }}" title="{{ f.username }}"/>
                                    </a>

                                    <a href="{{ url_for('user.user', username=f.username) }}">{{ f.username }}</a>

                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="header">
            <span class="col_fade">follower</span>
        </div>
        <div class="inner post">
            <div class="topic_list">
                {% if follower is not none %}
                    {% for f in follower %}
                        <div class="cell">
                            <div class="topic_title_wrapper">

                                <a class="user_avatar pull-left">
                                    <img src="{{ f.user_image }}" title="{{ f.username }}"/>
                                </a>

                                <a href="{{ url_for('user.user', username=f.username) }}">{{ f.username }}</a>

                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        $("div").delegate("#follow", "click", function (e) {
            let href = $("#follow_href").attr("href")
            jQuery.get(href)
            console.log('follow')
            $(this).text("unfollow")
            $(this).attr("id", "unfollow")
            e.stopPropagation()
        });

        $("div").delegate("#unfollow", "click", function (e) {
            let href = $("#unfollow_href").attr("href")
            jQuery.get(href)
            console.log('unfollow')
            $(this).text("follow")
            $(this).attr("id", "follow")
            e.stopPropagation()
        })

        $('#mail').on('click', function () {
            $(this).popover('show')
        })

    </script>
{% endblock %}



