{% extends "topic/base.html" %}
{% block main %}

    <div id="main">
        <div id="sidebar">
            <div class="panel">

    <div class="header">
      <span class="col_fade">个人信息</span>
    </div>
    <div class="inner">
      <div class="user_card">
  <div>
    <a class="user_avatar" href="/user/{{ user.username }}">
      <img src="{{ user.user_image }}" title="{{ user.username }}">
    </a>
    <span class="user_name"><a class="dark" href="/user/{{ user.username }}">{{ user.username }}</a></span>

    <div class="board clearfix">
      <div class="floor">
        <span class="big">积分: 0 </span>
      </div>
    </div>
    <div class="space clearfix"></div>
    <span class="signature">
        “

            这家伙很懒，什么个性签名都没有留下。

        ”
    </span>
  </div>
</div>


{#<script>#}
{#  $(document).ready(function () {#}
{#    $('.follow_btn').click(function () {#}
{#      var $me = $(this);#}
{#      var action = $me.attr('action');#}
{#      var params = {#}
{#        follow_id: '59a266a8af0b4d24192cc83b',#}
{#        _csrf: 'PJ3gH4os-bM9jLElxB4arJO6PWhQfQJ4ID00'#}
{#      };#}
{#      $.post('/user/' + action, params, function (data) {#}
{#        if (data.status === 'success') {#}
{#          var $btns = $('.follow_btn');#}
{#          if (action === 'follow') {#}
{#            $btns.html('取消关注');#}
{#            $btns.attr('action', 'un_follow');#}
{#          } else {#}
{#            $btns.html('加入关注');#}
{#            $btns.attr('action', 'follow');#}
{#          }#}
{#          $btns.toggleClass('btn-success');#}
{#        }#}
{#      }, 'json');#}
{#    });#}
{#  });#}
{#</script>#}


    </div>

  </div>
            <div class="panel">
                <div class="inner">
                    <a href="/topic/new?board_id={{ bid }}" class="create_topic_btn">
                        <span class="span-success">发布话题</span>
                    </a>
                </div>
            </div>
        </div>
        <div id="content">
            <div class="panel">
                <div class="header">
                    <a href="/topic"
                       class="topic-tab current-tab">
                        全部
                    </a>

                    {% for b in bs %}
                        <a href="/topic?board_id={{ b.id }}"
                           class="topic-tab current-tab">
                            {{ b.title }}
                        </a>
                    {% endfor %}

                    <a href="/board/admin"
                       class="topic-tab current-tab">
                        管理
                    </a>
                </div>
                <div class="inner post">
                    <div class="topic_list">
                        {% for t in ms %}
                            <div class="cell">
                                <div class="topic_title_wrapper">

                                    <a class="user_avatar pull-left" href="/user/{{ user.username }}">
                                        <img src="{{ t.user().user_image }}" title="{{ t.user().username }}"/>
                                    </a>

                                    <a class="topic_title" href="{{ url_for('topic.detail', id=t.id) }}">
                                        {{ t.title }}
                                    </a>
                                    <span>{{ t.replies() | count }} / {{ t.views }}</span>
                                    <a class="topic_title" href="{{ url_for('topic.delete', id=t.id) }}">
                                        删除
                                    </a>
                                    <span>{{ bbs_time(t.update_time) }}</span>

                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        (function () {
            var editor = new Editor();
            editor.render($('.editor')[0]);
        })();

    </script>
{% endblock %}